*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7f8c8d;
    overflow: hidden;
}
.w-33-3{
    float: left;
    width: 33.33%;
    padding: 0 20px;
}
.card_container {
    padding-top: 100px;
}
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 3px rgb(0, 0, 0, 0.5);
    height: 245px;
    margin: 0 25px;
    margin-top: 100px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.card_img {
    width: 62%;
    position: relative;
    left: 20%;
    top: -80px;
    box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 50%);
    height: 242px;
}
.card_img img {
    width: 100%;
    height: auto;
}
.card_desc {
    text-align: center;
    padding: 15px;
    position: relative;
    top: -70px;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: 0s;
}
.card_desc h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.card_desc p{
    font-size: 20px;
}
.card_desc a{
    display: inline-block;
    text-decoration: none;
    background-color: tomato;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 25px;
}
.card:hover{
    height: 545px;
    transition-delay: 0s;
    margin-top: 0;
}
.card:hover .card_desc{
    transition-delay: .5s;
    visibility: visible;
    opacity: 1;
}