*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-container{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    transform-style: preserve-3d;
}
.box{
    background: url('images/e.jpg') no-repeat center center / cover;
    position: relative;
    height: 550px;
    transition: .5s;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.box:hover{
    transform: rotateX(2deg) rotateX(-3deg) rotateY(15deg) translateX(27px) translateY(0px) translateZ(20px);
    box-shadow: -5px 5px 5px rgba(0,0,0,.25);
}
.box img{
    position: absolute;
    transition: .5s;
}
.box img:nth-child(1){
    width: 400px;
    right: 5%;
    bottom: 8%;
}
.box:hover img:nth-child(1){
    transform: rotateX(0deg) rotateY(-3deg) translateX(-70px) translateZ(177px);
}

.box img:nth-child(2){
    width: 350px;
    top: -17%;
    left: 43%;   
}
.box:hover img:nth-child(2){
    transform: rotateX(-24deg) rotateY(-23deg) translateY(17px) translateZ(130px);
}
.box img:nth-child(3){
    width: 300px;
    left: 35%;
    bottom: 14%;
}
.box:hover img:nth-child(3){
    transform: rotateX(0deg) rotateY(6deg) translateZ(144px);
}
.box img:nth-child(4){
    width: 400px;
    left: 0%;
    bottom: 8%;
}
.box:hover img:nth-child(4){
    transform: rotateX(0deg) rotateY(2deg) translateZ(120px);
}
  