*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1c40f;
    height: 100vh;
}
.w_33_3{
    width: 33.33%;
    padding: 0 50px;
    float: left;
}
.card_container{
    padding-top: 115px;
    overflow: hidden;
}
.card{
    position: relative;
    height: 550px;
    width: 100%;
    color: #fff;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: .5s;
}
.card_fornt{
    background: url('images/ironman.png') no-repeat center / cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
   backface-visibility: hidden;
   transition: .5s;
   
   
}
.card_back{
    background: url('images/iron-man.png') no-repeat center / cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
   backface-visibility: hidden;
   transition: .5s;
   
}

.card_fornt::before, .card_back::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.card_img{
    text-align: center;
    transform: translateZ(50px);
}
.card_img img{
    width: 35%;
}  
.card_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 79%;
    text-align: center;
    backface-visibility: hidden;
    transform-style:preserve-3d ;
    transition: .5s;
}
.card_text{
    font-size: 18px;
    transform: translateZ(50px);
}
.card_heading{
    font-size: 24px;
    margin: 8px 0;
    transform: translateZ(50px);
}
.card:hover  .card_fornt{
    transform: rotateY(180deg);
}
.card:hover  .card_back{
    transform: rotateY(0deg);
}
.card_container .w_33_3:nth-child(2) .card_fornt{
    background: url('images/cap.png') no-repeat center / cover; 
}
.card_container .w_33_3:nth-child(2) .card_back{
    background: url('images/captain_america9.png') no-repeat center / cover; 
}
.card_container .w_33_3:nth-child(3) .card_fornt{
    background: url('images/world.jpg') no-repeat center / cover; 
}
.card_container .w_33_3:nth-child(3) .card_back{
    background: url('images/Transparent-Image.png') no-repeat center / cover; 
}